.footer {
    background-color: #f8f8f8;
    padding: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  .footer-links {
    margin-bottom: 20px;
  }
  
  .footer-links a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-weight:500;
  }
  
  .footer-links a:hover {
    text-decoration: underline;
  }
  
  .footer-socials a {
    margin: 0 10px;
    font-size: 24px;
    color: #555;
  }
  
  .footer-socials a:hover {
    color: black;
  }
  
  .footer-copyright {
    margin-top: 20px;
    font-size: 14px;
    color: #666;
  }
  