/*
src/Header.css
*/

.my-header{
  border-bottom: 2px solid whitesmoke;
}

.header-top {
  display: flex;
  padding: 20px 50px;
  background-color: white;
  color: #282c34;
}

.header-bottom{
  display: flex;
  justify-content:space-evenly;
  border: 2px solid whitesmoke;
  margin: 0 15% 20px;
  border-radius: 50px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, .1);
  align-items: center;
}


.btn {
  background-color: white;
  color: black;
  font-weight: 500;
  border: none;
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 20px;
  text-decoration: none;
}

.header-buttons .btn:hover {
  background-color: whitesmoke
}

.display-bh{
  display: flex;
}

.dest:hover, .add-items:hover{
  background-color: whitesmoke;
  border-radius: 40px;
  .input-box{
    background-color: whitesmoke;
  }
}

.dest{
  padding:15px 0;
  margin-left: 20px;
}

.search-btn {
  display:flex;
  align-items: center;
  padding: 20px 30px;
  background-color: #e14a4f;
  border-radius: 50%;
  margin: 15px 5px  15px 50px;
}

.where-to{
  text-decoration: none;
  color: black;
  font-size: 13px;
}

.input-box{
  padding: 0;
  border-radius: 10px;
  border: none;
  color: slategrey;
}

.select-items{
  color: slategrey;
}

.add-items{
  padding: 15px 10px;
  font-size: 13px;
  text-decoration: none;
  color: black;
  /* border-left: 2px solid whitesmoke; */
}

.my-button {
    background-color: white;
    color: black;
    font-weight: 500;
    border: none;
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 20px;
    text-decoration: none;
}

.new-btn-container {
    background-color: white;
    color: #282c34;
    border: 2px solid whitesmoke;
    padding: 8px 10px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 25px;
}

.new-btn-container:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.new-btn {
    background-color: white;
    color: #282c34;
    margin: 0 5px;
}

.my-header-buttons .my-button:hover {
    background-color: whitesmoke
}


.menu {
    position: absolute;
    top: 70px;
    right: 7%;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 100;
    width: 98px;
}


.list-item {
    display: block;
    padding: 10px;
    color: #282c34;
    text-decoration: none;
    cursor: pointer;
}

.list-item:hover {
    background-color: #f5f5f5;
    border-radius: 5px;
}

.menu-divider {
    border: none;
    border-bottom: 1px solid #ddd;
    margin: 8px 0;
}