.my-header{
  border-bottom: 2px solid whitesmoke;
}

.header-top {
  display: flex;
  justify-content:space-around;
  align-items: center;
  padding: 20px;
  background-color: white;
  color: #282c34;
}

.header-bottom{
  display: flex;
  justify-content:space-evenly;
  border: 2px solid whitesmoke;
  margin: 0 15% 20px;
  border-radius: 50px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, .1);
}


.btn {
  background-color: white;
  color: black;
  font-weight: 500;
  border: none;
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 20px;
  text-decoration: none;
}

.header-buttons .btn:hover {
  background-color: whitesmoke
}

.display-bh{
  display: flex;
}

.dest:hover, .add-items:hover{
  background-color: whitesmoke;
  border-radius: 40px;
  .input-box{
    background-color: whitesmoke;
  }
}

.dest{
  padding:15px 0;
  display: grid;
  margin-left: 20px;
}

.search-btn {
  padding: 18px 22px;
  background-color: #e14a4f;
  border-radius: 50%;
  margin: 5px 5px  5px 50px;
}

.where-to{
  text-decoration: none;
  color: black;
  font-size: 13px;
}

.input-box{
  border-radius: 10px;
  border: none;
  color: slategrey;
}

.select-items{
  color: slategrey;
}

.add-items{
  padding: 15px 10px;
  font-size: 13px;
  text-decoration: none;
  color: black;
  /* border-left: 2px solid whitesmoke; */
}



/* .another-btn-container .another-btn:hover {
  
  filter: drop-shadow(0 0 2em #646cffaa);
} */

/*

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
  
.logo {
  height: 6em;
  padding: 1.5em;
  will-change:filter;
  transition: filter 300ms;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

*/