.my-button {
    background-color: white;
    color: black;
    font-weight: 500;
    border: none;
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 20px;
    text-decoration: none;
}

.new-btn-container {
    background-color: white;
    color: #282c34;
    border: 2px solid whitesmoke;
    padding: 8px 10px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 25px;
}

.new-btn-container:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.new-btn {
    background-color: white;
    color: #282c34;
    margin: 0 5px;
}

.my-header-buttons .my-button:hover {
    background-color: whitesmoke
}


.menu {
    position: absolute;
    top: 70px;
    right: 67px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 100;
    width: 98px;
}


.list-item {
    display: block;
    padding: 10px;
    color: #282c34;
    text-decoration: none;
    cursor: pointer;
}

.list-item:hover {
    background-color: #f5f5f5;
    border-radius: 5px;
}

.menu-divider {
    border: none;
    border-bottom: 1px solid #ddd;
    margin: 8px 0;
}