.category-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 20px 5%;
}

.highlight{
    font-weight: 550;
    text-decoration: none;
}

a{
    text-decoration: none;
    color: #333;
}

.category-display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    padding: 10px;
}

.image-container {
    width: 300px; /* Fixed width for image container */
    height: 200px; /* Fixed height for image container */
    position: relative;
    overflow: hidden; /* Prevents the image from overflowing the container */
}

.category-image {
    width: 100%; /* Make the image take up the full width of the container */
    height: 100%; /* Make the image take up the full height of the container */
    object-fit: cover; /* Ensures the image maintains its aspect ratio while filling the container */
    border-radius: 20px; /* Optional: rounded corners */
}

.scroll {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    display: none; /* Hide by default */
}

.image-container:hover .scroll {
    display: block; /* Show arrows on hover */
}

.my-left {
    left: 0;
}

.my-right {
    right: 0;
}

.info {
    text-align: left;
    width: 300px;
    padding: 10px;
    color: #333;
}
